p
{
	width:100px;
	height:100px;
	background: red;
	font-size:85px;
	text-align:center;
	margin: 0px;
}
#p1
{

}
#p2
{
	/*transform: translatex(50px);*/
	/*transform: translateY(50px);*/
	/*transform: translate(50px,50px);*/
	/*transform: rotateX(180deg);*/
	/*transform: rotateY(180deg);*/
	/*transform: rotateZ(180deg);*/
	/*transform: rotate(135deg);*/
	/*transform: scaleX(0.782);*/
	/*transform: scaleY(2);*/
	/*transform: scaleZ(4);*/
	/*transform: scale(0.85);*/
	/*transform: skewX(45deg);*/
	/*transform: skewY(45deg);*/
	/*transform: skew(45deg);*/
	transform: matrix(1,0.1,1,1,50,1);
	/*scaleX()
	skewY()
	skewX()
	scaleY()
	translateX()
	translateY()
	*/


	
}