h1
{
	border-style: double;
	padding: 30px;
	border-width: 10px
}
#p1
{
	border-style:solid;
	margin: 25px;
}
#p2
{
	border-style: solid;
	margin: 50px;
}
#p3
{
	border-style: solid;
	margin-left: 550px;
}
#p4
{
	border-style: solid;
	margin-right: 100px;
}
#p5
{
	border-style: solid;
	/*margin-left: 25px;
	margin-right: 75px;
	margin-top: 50px;
	margin-bottom: 75px;*/
	margin: 50px 75px 75px 25px;
	/*both are same*/
}
#p6
{
	border-style: solid;
	margin: auto;
}
#p7
{
	border-style: solid;
	margin-left:  auto;
}
#p8
{
	border-style: solid;
	margin-right:  auto;
}
#p9
{
	border-style: solid;
	margin-top:  auto;
}
#p10
{
	border-style: solid;
	margin-bottom:  auto;
}